.wholeBoard {
  display: grid;
}

.board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, var(--cell-size));
  background-color: hsl(0, 59%, 21%);
}

.offBoard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, var(--cell-size));
  background-color: hsl(180, 100%, 75%);
}


.cell {
  box-sizing: border-box;
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
}

.offCell {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
}
