.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Zentriert das Board und die Shapes */
}

.board {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(8, var(--cell-size));
  grid-template-columns: repeat(8, var(--cell-size));
  background-color: hsl(0, 59%, 21%);
}

.shapeSelection {
  position: relative;
  max-width: calc(var(--cell-size) * 8);
  display: flex;
  gap: var(--cell-size);
  flex-wrap: wrap;
  margin-top: calc(var(--cell-size) * 1); /* Zwischenraum für Shapes */
  margin-bottom: calc(var(--cell-size) * 2); /* Platz unter den Shapes */
}

.shapeButtons {
  margin-top: 0; /* Platz für den Button-Bereich */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cell {
  box-sizing: border-box;
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
}
