.playerData {
  display: flex;
  justify-content: space-around;
}

.shapeSelection {
  width: calc((var(--cell-size)*14));
  display: flex;
  gap: var(--cell-size);
  margin: var(--cell-size);
  align-items: flex-end;
  justify-content: flex-end;
}

.shapeButtons {
  display: flex;
  justify-content: center;
  gap: var(--cell-size);
  margin-bottom: var(--cell-size);
}
